body {

}

.navbar {
    padding-right: 7%;
    padding-left: 7%;
}

.nav-right {
    margin-left: 60%;
}

.welcome {
    font-size: 17px;
    font-weight: 500;
    color: #000080 !important;
}

.reg-container {
    padding: 50px 0 100px 35%;
}

.reg-container h2 {
    margin: 50px 0;
}

.reg-form {
    width: 40%;
}

.login-form h3 {
    margin-left: 10%;
}


.page-header {
    margin-left: 12%;
}

.profile-section, .time-cards {
    display: flex;
    flex-direction: row;
}

.profile-section {
    padding: 5% 10% 0 10%;
}

.time-cards {
    padding: 3% 0 0 19%;
}

.profile-avartar img {
    border: 1px solid #000;
    border-radius: 50%;
}

.profile-data {
    height: 120px;
    width: auto;
    margin: 5px 0 0 20px;
}

.profile-data p, .right-col-email {
    font-size: 16px;
    font-weight: 500;

}

.right-col {
    margin-left: 30%;
}

.book-btn {
    margin-top: 40%;
}

.card-set {
    width: 250px;
    height: 70px;
    border-radius: 5px;
    margin-left: 5%;
    border: 1px solid #e3e6f0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    padding: 10px 0 0 10px;
}

.card-set h6 {
    font-size: 13px;
}

.card-set p {
    font-size: 16px;
    font-weight: 400;
}

.card-green h6 {
    color: green;
}

.card-green {
    border-left: 5px solid green;
}

.card-blue h6 {
    color: blue;
}

.card-blue {
    border-left: 5px solid blue;
}

.card-orange h6 {
    color: orange;
}

.card-orange {
    border-left: 5px solid orange;
}

.No-appointment-text {
    font-size: 27px;
    margin: 3% 0 0 40%;
}
